
#foot{
	text-align: center;
	height: 100px;
	/*padding-top: 25px;*/
}
#tail{
	width: 100%;
	height: 50px;
	background: linear-gradient(to bottom,rgb(120,120,255),rgb(170,170,255));
}
#copyright{
	height: 50px;
	padding-top: 25px;
	background: linear-gradient(to right,rgb(255,255,255),rgb(120,150,255));
}
