<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>技术分享 - 北斗星工作室</title>
		<!--<link rel="stylesheet" href="css/main.css" />-->
		<link rel="stylesheet" th:href="@{/css/tecshare.css}" />
		<link rel="icon" th:href="@{/img/compass.ico}">
        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
        <script type="text/javascript" th:src="@{/js/base.js}" ></script>
        <script type="text/javascript" th:src="@{/js/tecshare.js}" ></script>
	</head>
	<body>
        <div id='head' class="row" th:include="head"></div>
		<div id='body' class="row">
		 	<div id='linuxTec' class="bigBox">
		 		LINUX：
		 		<p>内容等待补充……</p>
		 	</div>
		 	<div id='javaTec' class="bigBox">
		 		JAVA：
		 		<p>内容等待补充……</p>
		 	</div>
		 	<div id='pythonTec' class="bigBox">
		 		PYTHON：
		 		<p>内容等待补充……</p>
		 	</div>
		</div>
        <div id='foot' class="row" th:include="foot :: copyright" ></div>
	</body>
</html>
